*{
    font-family: "Poppins", sans-serif;
}
section{
    margin: 0 4rem;
    height: 100vh;
}

@media(max-width:768px){
    .navigation{
        margin:0 2rem;
    }
}

@media(min-width:1080px){
    .text {
        max-width: 70%;
    }

    .contact{
        max-width: 50%;
    }
}
